
#header ul{
    width:1000px;
    margin: 0 auto;
    height: 2em;
    padding: 0;
}
#header ul li{
    display: inline;
    line-height: 2em;
}
#header ul li a{
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
    float: right;

}
#header ul li a:hover{
    color: red;
    background-color:white;
    border: 1px solid red;
}

#content>p {
    font-size: 1.5em;
    color: blue;
}
#content>p+p{
    font-size: 1em;
    color: red;
}
#content p[title]{
    font-size: 1.5em;
    color: blue;
}
